.body, html {
  background-image: url('https://images.alphacoders.com/133/thumb-1920-1330376.png');
  background-size: cover;      
  background-repeat: repeat; 
  background-position: center;  
  height: 100vh;               
  width: 100%;
  margin: 0;
  padding: 0;                  
}

.page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 20px;
  padding: 20px;
}

.page h1 {
  width: 100%; /* Make sure it spans full container width */
  text-align: center;
  margin-top: 0px ;
  margin-bottom: 10px;
  -webkit-text-fill-color: rgb(13, 232, 217) ;
  -webkit-text-stroke: 2px;
  color: black;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size:3em;
}

.page h3 {
  font-size: 800 30px;
  -webkit-text-fill-color: rgb(13, 232, 217) ;
  -webkit-text-stroke: 1px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color:black 
}
.ListItem {
    width: 150px; /* Adjust the width as needed */
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); /* Optional: background for better readability */
    border-radius: 8px; /* Optional: rounded corners */
    overflow: hidden; /* Ensure content doesn't overflow */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: add shadow for better appearance */
}
.ListItem img {
    width: 100%; /* Make the image take the full width of the div */
    height: auto;
}
.hDfbtX {
  font-size:large;
  -webkit-text-fill-color: rgb(13, 232, 217) ;
  -webkit-text-stroke: 1px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color:black
}
.page p {
  font-size: larger;
}

.page a {
  -webkit-text-fill-color: rgb(9, 243, 211) ;
  -webkit-text-stroke: 1px;
  color: black;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  text-decoration:underline;
}
a:-webkit-any-link{
  color: rgb(9, 243, 211) ;
  -webkit-text-stroke: 1px;
}
a:-webkit-any-link:hover {
  color: chocolate;
}
.hjBXnw {
  font-size:large;
  -webkit-text-fill-color: rgb(13, 232, 217) ;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.hjBXnw:hover {
  color: chocolate;
}

p {
  font-size: .3in;
  -webkit-text-fill-color: rgb(9, 243, 211) ;
  -webkit-text-stroke: 1px;
  color: black;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

h1 {
  font-size: .6in;
  -webkit-text-fill-color: rgb(9, 243, 211) ;
  -webkit-text-stroke: 1px;
  color: black;
  font-family: "Comic Sans MS", "Comic Sans", cursive; 
  text-decoration:underline
}






